<h1>Single Search</h1>
<form class="form-search" ng-submit="lookup()">
  <input type="search" class="input-medium search-query" ng-model="arg" required autofocus>
  <button type="submit" class="btn btn-primary">Lookup</button>
</form>

<div class="progress progress-striped active" ng-show="status.success">
  <div class="bar bar-success" ng-style="bar_success()"></div>
  <div class="bar bar-warning" ng-style="bar_empty()"></div>
  <div class="bar bar-danger" ng-style="bar_error()"></div>
</div>

<ul class="nav nav-pills">
  <li ng-repeat="p in plugins">
    <a ng-show="p.result" ng-click="scroll_to(p.name)">{{p.name}}</a>
  </li>
</ul>

<div ng-repeat="p in plugins">
    <result arg="arg" plugin="p">
    </result>
</div>
</ul>
